version: '3.8'

services:
  web:
    build: .
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      - JWT_SECRET_KEY=your_jwt_secret_key
      - SQLALCHEMY_DATABASE_URL=mssql+pyodbc://@BRSBESQLCORP54D/DB_CARFORD?driver=SQL+Server+Native+Client+11.0&trusted_connection=yes
    volumes:
      - .:/app
    command: flask run --host=0.0.0.0
